bottle==0.13.4
waitress==3.0.2
selenium==4.44.0
func-timeout==4.3.5
prometheus-client==0.25.0
# Required by undetected_chromedriver
requests==2.34.2
certifi==2026.5.20
websockets==16.0
packaging==26.2
# Only required for Linux and macOS
xvfbwrapper==0.2.23; platform_system != "Windows"
# Only required for Windows
pefile==2024.8.26; platform_system == "Windows"
